*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.debug{

    color: white;

    *{
        border: 1px dashed black;
    }

    .logo{
        width: 133px;
        height: 40px;
        background-color: green;
    }

    .upgrade-bar{
        background-color: blue;
    }
    

}

img{
    width: 100%;
}

ul{
    list-style: none;
}

.top{
    display: flex;
}

/* regionsidebar */
.sidebar{
    width: 230px;
    height: 92vh;
    padding: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    ul{
        margin-top: 1.5rem;
    }

}

.playlist{
    margin-top: 1rem;
    .add-btn{
        height: 35px;
        width: 35px;
        background-color: grey;
        display: inline-block;
    }
    ul{
        line-height: 1.7rem;
    }
}

/* region main */

.upgrade-bar{
    height: 88px;
    width: 100vw;
}



.player{
    height: 91px;
    width: 100vw;
    background-color: grey;
}

