@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    color: var(--sfy-text);
}

:root{
  --sfy-primary: #000000;
  --sfy-upgrade: #080b12;
  --sfy-bg: #141922;
  --sfy-player: #282828;
  --sfy-btn: #d2d2d2;
  --sfy-plus-btn: #a3a3a3;
  --sfy-marker: #adff2f;
  --sfy-text: #686868;
  --sfy-lighter: #ffff;
}


img{
    width: 100%;
}

ul{
    list-style: none;
}
.il-b{
  display: inline-block;
}

.btn{
  background-color: transparent;
  border: 2px solid white;
  color: var(--sfy-lighter);
  text-align: center;
  padding: 0.80rem 2rem;
  border-radius: 5rem;
  font-weight: 600;
  transition: all .2s ease-in-out;

}

.btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}

i{
  transition: all .2s ease-in-out;
}

i:hover{
  transform: scale(1.3);
  cursor: pointer;
}
.tw{
  color: var(--sfy-lighter);
}


/* commons */

.debug{

    color: white;

    *{
        border: 1px dashed black;
    }

    .logo{
        width: 133px;
        height: 40px;
        background-color: green;
    }

    .upgrade-bar{
        background-color: blue;
    }

    /* .btn{
        background: pink;
        height: 2reM;
        padding: 0.40rem 1rem;
        border-radius: 5rem;
    } */

    main{
        color: black;
        background-color: aquamarine;
    }

    .card-img{
        width: 180px;
        height: 186px;
        /* background-color: pink; */
    }

    .card-img-rounded{
      width: 180px;
      height: 180px;
      border-radius: 50%rem;
  }
  .account-img{
      width: 28px;
      height: 28px;
      
  }
    
  .song-album{
    background-color: pink;
  }

}

/* Layout */
.row{
    display: flex;
    flex-wrap: wrap;
    
  }
  

  .col-1{
    width: calc(100% / 12 * 1);
  }
  
  .col-2{
    width: calc(100% / 12 * 2);
  }

  .col-lg-2
  

  
  .col-4{
    width: calc(100% / 12 * 4);
  }

  
  .col-5{
    width: calc(100% / 12 * 5);
  }
  
  .col-6{
    width: 50%;
  }
  
  .col-7{
    width: calc(100% / 12 * 7);
  }
  
  .col-8{
    width: calc(100% / 12 * 8);
  }
  
  .col-9{
    width: calc(100% / 12 * 9);
  }
  
  .col-10{
    width: calc(100% / 12 * 10);
  }
  
  .col-11{
    width: calc(100% / 12 * 11);
  }
  
  .col-12{
    width: 100%;
  }

 [class^="col"]{
      padding: 1rem;
      padding-right: 1.5rem;
    }

.d-flex{
    display: flex;
}

/* regionsidebar */
.top{
  height: calc(100vh - 91px);
}

.logo{
  width: 133px;
  height: 40px;
}

.sidebar{
    background-color: var(--sfy-primary);
    color: var(--sfy-text);
    width: 230px;
    height: 100%;
    padding: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    ul{
        margin-top: 1.5rem;
    }

}

.menu{
  line-height: 2.2rem;
}

.menu li :hover{
  color: var(--sfy-lighter);
  cursor: pointer;
}

.list-img{
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.list-text{
  font-weight: 600;
  vertical-align: middle;
}



.playlist{
    margin-top: 1rem;
    .add-btn{
        height: 35px;
        width: 35px;
        background-color: grey;
        display: inline-block;
    }
    h4{
      margin-bottom: 1rem;
    }
    ul{
        line-height: 2.2rem;
        font-weight: 700;
    }
}

.playlist span:hover{
  color: var(--sfy-lighter);
  cursor: pointer;
}

.playlist ul li:hover{
    color: var(--sfy-lighter);
    cursor: pointer;
}

.add-btn{
  vertical-align: middle;
  .plus{
    text-align: center;
    font-size: 1.7rem;
    color: var(--sfy-player);
  
  }
}

.download{
  padding-bottom: 0.30rem;
  .down-img{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 0.30rem;
  }
  span{
    font-size: 0.85rem;
    font-weight: 600;
  }
}

.download span:hover{
    color: var(--sfy-lighter);
    cursor: pointer;
}

.account{
  border-top: 2px solid grey;
  padding-top: 0.50rem;
  h4{
    display: inline-block;
    vertical-align: middle;
  }
}
.account-img{
  width: 28px;
  height: 28px;
  margin-top: 0.2rem;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  background-color: grey;
  img{
    border-radius: 50%;
  }

}

/* region main */
main{
    height: 100%;
    width: calc(100% - 230px);
    overflow-y: auto;
    background-color: var(--sfy-bg);
    section{
      padding-bottom: 1.5rem;
      padding: 1rem;
    }
}


.upgrade-bar{
    background-color: var(--sfy-upgrade);
    height: 88px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.categories{
    color: var(--sfy-text);
    justify-content: center;
    padding: 0.70rem;
    font-weight: 700;
    ul{
        gap: 1rem;
    }
}

.categories ul li:hover{

    color: var(--sfy-lighter);
    cursor: pointer;
}

.card-text{
    text-align: center;
    padding-top: 1rem;
    h5{
      color: var(--sfy-lighter);
    }
}

.card-img{
  width: 180px;
  height: 180px;
  position: relative;
  img{
    display: block;
    margin: auto;
  }
  .play{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 3rem;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.4s;  }
  
}

.play:hover{
  opacity: 1;
  cursor: pointer;
}


.card-img-rounded{
  width: 186px;
  height: 186px;
  border-radius: 50%;
  img{
    border-radius: 50%;
  }

}
/* #endregion main */

/* #region player */
.player{
    height: 91px;
    background-color: var(--sfy-player);
    justify-content: space-between;

}
.song{
  align-items: center;
  margin-left: 0.50rem;
  .song-btn{
    margin-left: 1rem;
      i{
        margin-right: 0.50rem;
      }

  }
  span{
    font-size: 0.70rem;
    font-weight: 800;
  }
}
.song-album{
  width: 42px;
  height: 42px;
  margin-right: 0.40rem;
}

.song-btn i:hover{
  color: var(--sfy-lighter);
  cursor: pointer;
}

.controller-btns{
  padding-top: 1rem;
font-size: 1.5rem;
justify-content: center;
gap: 2rem;
}

.progression-bar{
  padding-top: 0.60rem;
  align-items: center;
  gap: 1rem;
  .time{
    font-size: 0.70rem;
    font-weight: 700;
    color: var(--sfy-lighter);
  }
}

.bar{
  align-items: center;
}

.bar-full{
  border: 2px solid lightgrey;
  width: 83px;
  height: 0px;
}

.dot{
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: none;
}

.bar:hover .bar-full{
  border: 2px solid var(--sfy-marker);
  cursor: pointer;
}

.bar:hover .bar-full-right{
  border: 2px solid var(--sfy-marker);
  cursor: pointer;
}

.bar:hover .dot{
  cursor: pointer;
  display: block;
}


.bar-empty{
  border: 2px solid grey;
  width: 346px;
  height: 0px;
}
.bar-full-right{
  border: 2px solid lightgrey;
  width: 30px;
  height: 0px;
}

.bar-empty-right{
  border: 2px solid grey;
  width: 70px;
  height: 0px;
}

.buttons-right{
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}

/* mediaqueries */

@media screen and (max-width: 878px) {

  .col-3{
    width: calc(100% / 12 * 3);
  }

  .card-img{
    width: 140px;
    height: 140px;
  }

  .bar-full{
    width: 40px;
  }

  .bar-empty{
    width: 190px;
  }

  .categories ul{
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    li{
      font-size: 0.90rem;
    }
  }

}